@import '~BaseLess/color.less';

.Home {
    min-height: 0;
    flex: 1;
    justify-content: center;

    .react-logo {
        height: 200px;
        width: 200px;
    }

    h1 {
    }

    h2 {
    }
}
